h1 {
  font-family: "Open Sans", sans-serif;
}

#first-home-page-div {
  margin-top: 6%;
  .row {
    display: flex;
    align-items: center;
  }
  img {
    width: 100%;
  }
}

#second-home-page-div {
  margin-top: 6%;
  .card-body {
    background-color: #67A7DA;
    color: white;
    text-align: center;
    .btn {
      white-space: inherit;
      border-radius: 5px;
    }
  }
  .card-body-background-2 {
    background-color: #7FBCED;

  }
  .btn-primary p {
    margin-bottom: 0px;
  }
}